#sec-head{

  .top-bar{
    padding: 0;
  }

  .title-bar{
    background: darken(#002366, 10%);
  }

  .menu{
    background: #002366;

    li{
       background: #002366;

       padding-top: .2rem;
       padding-bottom: .2rem;

      &:hover,
      &:focus{
        // background: lighten(#002366, 10%)
        background-color: #d4a762;
      }
    }

    a{
      color: #fff;
    }

  }



}

#sec-hero{
  //position: relative;
  //// height: 95vh;
  //// background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  //background-position: top;
  //background-size: cover;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

// THEME
#sec-about, #sec-services, #sec-hseq, #sec-faqs{
  background-color: #FFFCF8;
  color: #777777;

  h2{
    color: #002366;
  }

  h4{
    color: #d4a762;
  }

  .button{
    background-color: #002366;
    color: white;
  }

  .button:hover{
    // background-color: #161d27;
    background-color: #d4a762;
    color: white;
  }

}

#sec-ceo, #sec-why, #sec-different{
  // background-color: rgb(53,53,53);
  background-color: #002366;
  color: #fff;

  h2, h4{
    color: rgb(240, 214, 187);
  }

  .button{
    color: rgb(53,53,53);
    background-color: white;

  }

  .button:hover{
    background-color: rgb(240, 214, 187);
    color: rgb(53,53,53);
    font-weight: bold;
  }
}

#sec-contact{
  background-color: #002366;
  color: #fff;

  h2, h3, h4{
    color: rgb(240, 214, 187);
  }

  .button{
    color: rgb(53,53,53);
    background-color: white;

  }

  .button:hover{
    background-color: rgb(240, 214, 187);
    color: rgb(53,53,53);
    font-weight: bold;
  }

  .contact_map{
    margin: 2.5rem auto 2rem auto;

    iframe{
      width: 100%;
    }

  }

  .office_location{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    text-align: center;
  }

  .branch-name {
    color: rgb(240, 214, 187);
  }

  .person-name {

  }

  .person-position {
    color: rgb(240, 214, 187);
  }

  .footer_topper{
    //width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    opacity: .15;
  }

  svg{
    color: rgb(240, 214, 187);
  }

  a{
    color: rgb(240, 214, 187);
  }

  a:hover{
    color: white;
  }
}


#sec-about,
#sec-services{
  img{
    border-radius: 1rem;
  }

  h4, p{
    text-align: center;
  }
}

// About
#sec-about {

}

// Message from CEO
#sec-ceo{


  // Text color: RGB(240, 214, 187)
  // Background color: RGB(53, 53, 53)
  // Additional color(s): RGB(160, 138, 127)

  //position: relative;
  //// height: 95vh;
  //background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  //background-position: top;
  //background-size: cover;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  //clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  .ceo-name {

  }

  .ceo-position {

  }


}

// Our Services
#sec-services{

  .cell{
    //background-color: white;
    //padding: .9rem;
  }

  .button_reveal-in_card{
    text-align: left;
  }



}

// Why us?
#sec-why{
  //position: relative;
  //// height: 95vh;
  //background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  //background-position: top;
  //background-size: cover;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  //clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 100%);
  //background-color: red !important;
}

// HSEQ
#sec-hseq{

  .block-closing-with_text{
    padding: 3.5rem 3.5rem;
    text-align: center;
  }

}

// Being Different
#sec-different{

  .block-intro {
    margin-bottom: 0;
  }

  p{
    margin-bottom: 0;
  }

}

// FAQs
#sec-faqs {

  .accordion{
    .accordion-item{


      a{
        line-height: normal;
        color: #002366;
        font-size: 1.15rem;
      }
      a:hover,
      a:focus{
        background-color: #002366;
        color: white;
      }

    }

    .is-active{
      background-color: #002366;
      a{
        color: white;
      }
    }

    .accordion-title{}

    .accordion-content{
      // background-color: darkslategrey;
      // color: #f1f1f1;
    }
  }

}


/*==============================
=            Footer            =
==============================*/
#sec-foot{
  background-color: darken(#002366, 10%);

  color: white;


  padding-top: .6rem;
  padding-bottom: .6rem;
  //background-color: black;

  p{
    margin: 0;
    font-size: 13px;
  }

  .footer_info{
    color: white;

    a{
      color: rgb(240, 214, 187);
      font-weight: bold;
    }

    a:hover{
      color: white;
      font-style: italic;
      text-decoration: underline;
    }
  }

  .copyright{
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium and up */
    @media screen and (min-width: 40em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

    /* Large and up */
    @media screen and (min-width: 64em) {
      text-align: left;
      padding: 0;
    }

    /* Large only */
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {}
  }

  .developer{
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium and up */
    @media screen and (min-width: 40em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

    /* Large and up */
    @media screen and (min-width: 64em) {
      text-align: right;
      padding: 0;
    }

    /* Large only */
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {}

  }

}

.footer_top{
  // background: white url('../images/patterns/cartographer_white.jpg') repeat;
  // background: $color-secondary url('../images/patterns/dark_mosaic_red.png') repeat;
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
  background-color: #f1f1f1;

  a{
    color: #002366;
    font-size: 1rem;
  }

  a:hover{
    color: maroon;
  }

  i{

  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

