#sec-hero{
  //position: relative;
  //// height: 95vh;
  //// background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  //background-position: top;
  //background-size: cover;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}


#sec-about,
#sec-services{
  img{
    border-radius: 1rem;
  }

  h4, p{
    text-align: center;
  }
}

// About
#sec-about {
  background-color: #f1f1f1;
}

// Message from CEO
#sec-ceo{

  //position: relative;
  //// height: 95vh;
  //background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  //background-position: top;
  //background-size: cover;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  //clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  .ceo-name {

  }

  .ceo-position {

  }
}

// Our Services
#sec-services{
  background-color: #f1f1f1;

  .cell{
    background-color: white;
    padding: .9rem;
  }

  .button_reveal-in_card{
    text-align: left;
  }

  p{
  }

}

// Why us?
#sec-why{
  //position: relative;
  //// height: 95vh;
  //background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  //background-position: top;
  //background-size: cover;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  //clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 100%);
  //background-color: red !important;
}

// HSEQ
#sec-hseq{
  background-color: #f1f1f1;

  .block-closing-with_text{
    padding: 3.5rem 3.5rem;
    text-align: center;
  }

}

// Being Different
#sec-different{
  // Section: Being Different

  .block-intro {
    margin-bottom: 0;
  }

  p{
    margin-bottom: 0;
  }
}

// FAQs
#sec-faqs {
  background-color: #f1f1f1;

  .accordion{
    .accordion-item{
      a{}
      a:hover{
        background-color: #0c3d5d;
        color: white;
      }
    }

    .accordion-title{}

    .accordion-content{
      // background-color: darkslategrey;
      // color: #f1f1f1;
    }
  }

}

// Contact
#sec-contact{


  .contact_map{
    margin: 2.5rem auto 2rem auto;

    iframe{
      width: 100%;
    }

  }

  .office_location{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    text-align: center;
  }

  .branch-name {

  }

  .person-name {

  }

  .person-position {

  }

  .footer_topper{
    //width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

}

/*==============================
=            Footer            =
==============================*/
#sec-foot{
  background-color: #000;
  color: white;
  padding-top: .6rem;
  padding-bottom: .6rem;
  //background-color: black;

  p{
    margin: 0;
    font-size: 13px;
  }

  .footer_info{
    color: white;

    a{
      color: gold;
      font-weight: bold;
    }

    a:hover{
      color: white;
      font-style: italic;
      text-decoration: underline;
    }
  }

  .copyright{
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium and up */
    @media screen and (min-width: 40em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

    /* Large and up */
    @media screen and (min-width: 64em) {
      text-align: left;
      padding: 0;
    }

    /* Large only */
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {}
  }

  .developer{
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium and up */
    @media screen and (min-width: 40em) {
      text-align: center;
      padding: .2rem;
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

    /* Large and up */
    @media screen and (min-width: 64em) {
      text-align: right;
      padding: 0;
    }

    /* Large only */
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {}

  }

}

.footer_top{
  // background: white url('../images/patterns/cartographer_white.jpg') repeat;
  // background: $color-secondary url('../images/patterns/dark_mosaic_red.png') repeat;
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
  background-color: #f1f1f1;

  a{
    color: black;
    font-size: 1rem;
  }

  a:hover{

  }

  i{

  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

