#sec-about,
#sec-services{
  img{
    border-radius: 1rem;
  }

  h4, p{
    text-align: center;
  }
}

// About
#sec-about {
  background-color: #f1f1f1;
}

// Message from CEO
#sec-ceo{

  .ceo-name {

  }

  .ceo-position {

  }
}

// Our Services
#sec-services{
  background-color: #f1f1f1;

  .cell{
    background-color: white;
    padding: .9rem;
  }

  .button_reveal-in_card{
    text-align: left;
  }

  p{
  }

}

// Why us?
#sec-why{

}

// HSEQ
#sec-hseq{
  background-color: #f1f1f1;
}

// Being Different
#sec-different{
  // Section: Being Different

  .block-intro {
    margin-bottom: 0;
  }

  p{
    margin-bottom: 0;
  }
}

// FAQs
#sec-faqs {
  background-color: #f1f1f1;

  .accordion{
    .accordion-item{
      a{}
      a:hover{
        background-color: #0c3d5d;
        color: white;
      }
    }

    .accordion-title{}

    .accordion-content{
      background-color: darkslategrey;
      color: #f1f1f1;
    }
  }

}

// Contact
#sec-contact{

}

// Footer
#sec-foot{

}
