@import "typography";

body{
  // background-color: #f7e4e1;
}

.sec-container{
  padding: 8rem 0;

}

.sec-contact-container{
  padding: 8rem 0 0 0;
}

.block-intro{

  margin-bottom: 2rem;

  .section-heading,
  .section-description{
    text-align: center;
  }

}

.block-closing-only_button{
  padding: 1rem 0;
}

.block-closing-with_text{
  padding: 3.5rem 0;
}

.button_reveal{
  text-align: center;
  // margin-top: 1.5rem;

  .button{
    margin-bottom: 0;
  }

}

.head-container{
  background-color: white;
  padding: 2rem;
  color: black;
}

.hero-container{
  background-color: #3adb76;
  // padding: 16rem 0;
}

.bg-red{
  color: white;
  background-color: red;
}

.bg-black{
  color: white;
  background-color: black;
}





.card-title,
.card-description{
  text-align: left !important;
}

.card-title{

}

.card-description{

}

.reveal{
  border: 12px groove rgb(240, 214, 187);
  padding: 1.5rem;

  h2, h3, h4{
    color: rgb(240, 214, 187);
  }

  h4{
    margin-bottom: 0;
  }

  ul{
    margin-left: 2.25rem;
  }

  .lead{
    color: rgb(240, 214, 187);
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.25rem;
  }

  background: #002366;
  color: #fff;

  .ceo-name {
    color: rgb(240, 214, 187);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .ceo-position {

  }

  p ~ ul{

  }

  img{
    // border-radius: 1rem;
  }
}


@import "sections";

/*===============================
=            Divider            =
===============================*/
.sec-divider{
  img{
    width: 100%;
  }
}