body{
  // background-color: #f7e4e1;
}

.sec-container{
  padding: 8rem 0;

}

.sec-contact-container{
  padding: 8rem 0 0 0;
}

.block-intro{

  margin-bottom: 2rem;

  .section-heading,
  .section-description{
    text-align: center;
  }

}

.block-closing-only_button{
  padding: 1rem 0;
}

.block-closing-with_text{
  padding: 3.5rem 0;
}

.button_reveal{
  text-align: center;
  // margin-top: 1.5rem;

  .button{
    margin-bottom: 0;
  }

}

.head-container{
  background-color: #0c3d5d;
  padding: 2rem;
  color: white;
}

.hero-container{
  background-color: #3adb76;
  // padding: 16rem 0;
}

.bg-red{
  color: white;
  background-color: red;
}

.bg-black{
  color: white;
  background-color: black;
}





.card-title,
.card-description{
  text-align: left !important;
}

.card-title{

}

.card-description{

}

.reveal{
}


@import "sections";

/*===============================
=            Divider            =
===============================*/
.sec-divider{
  img{
    width: 100%;
  }
}