.sec-container {
  padding: 8rem 0;
}

.sec-contact-container {
  padding: 8rem 0 0 0;
}

.block-intro {
  margin-bottom: 2rem;
}
.block-intro .section-heading,
.block-intro .section-description {
  text-align: center;
}

.block-closing-only_button {
  padding: 1rem 0;
}

.block-closing-with_text {
  padding: 3.5rem 0;
}

.button_reveal {
  text-align: center;
}
.button_reveal .button {
  margin-bottom: 0;
}

.head-container {
  background-color: #0c3d5d;
  padding: 2rem;
  color: white;
}

.hero-container {
  background-color: #3adb76;
}

.bg-red {
  color: white;
  background-color: red;
}

.bg-black {
  color: white;
  background-color: black;
}

.card-title,
.card-description {
  text-align: left !important;
}

#sec-head .top-bar {
  padding: 0;
}
#sec-head .menu {
  background: #333;
}
#sec-head .menu li {
  background: #333;
}
#sec-head .menu li:hover {
  background: #4d4d4d;
}
#sec-head .menu a {
  color: #fff;
}

#sec-about img,
#sec-services img {
  border-radius: 1rem;
}
#sec-about h4, #sec-about p,
#sec-services h4,
#sec-services p {
  text-align: center;
}

#sec-about {
  background-color: #f1f1f1;
}

#sec-services {
  background-color: #f1f1f1;
}
#sec-services .cell {
  background-color: white;
  padding: 0.9rem;
}
#sec-services .button_reveal-in_card {
  text-align: left;
}
#sec-hseq {
  background-color: #f1f1f1;
}
#sec-hseq .block-closing-with_text {
  padding: 3.5rem 3.5rem;
  text-align: center;
}

#sec-different .block-intro {
  margin-bottom: 0;
}
#sec-different p {
  margin-bottom: 0;
}

#sec-faqs {
  background-color: #f1f1f1;
}
#sec-faqs .accordion .accordion-item a:hover {
  background-color: #0c3d5d;
  color: white;
}
#sec-contact .contact_map {
  margin: 2.5rem auto 2rem auto;
}
#sec-contact .contact_map iframe {
  width: 100%;
}
#sec-contact .office_location {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
#sec-contact .footer_topper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%;
  transform: scaleX(-1);
}

/*==============================
=            Footer            =
==============================*/
#sec-foot {
  background-color: #000;
  color: white;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
#sec-foot p {
  margin: 0;
  font-size: 13px;
}
#sec-foot .footer_info {
  color: white;
}
#sec-foot .footer_info a {
  color: gold;
  font-weight: bold;
}
#sec-foot .footer_info a:hover {
  color: white;
  font-style: italic;
  text-decoration: underline;
}
#sec-foot .copyright {
  /* Small only */
  /* Medium and up */
  /* Medium only */
  /* Large and up */
  /* Large only */
}
@media screen and (max-width: 39.9375em) {
  #sec-foot .copyright {
    text-align: center;
    padding: 0.2rem;
  }
}
@media screen and (min-width: 40em) {
  #sec-foot .copyright {
    text-align: center;
    padding: 0.2rem;
  }
}
@media screen and (min-width: 64em) {
  #sec-foot .copyright {
    text-align: left;
    padding: 0;
  }
}
#sec-foot .developer {
  /* Small only */
  /* Medium and up */
  /* Medium only */
  /* Large and up */
  /* Large only */
}
@media screen and (max-width: 39.9375em) {
  #sec-foot .developer {
    text-align: center;
    padding: 0.2rem;
  }
}
@media screen and (min-width: 40em) {
  #sec-foot .developer {
    text-align: center;
    padding: 0.2rem;
  }
}
@media screen and (min-width: 64em) {
  #sec-foot .developer {
    text-align: right;
    padding: 0;
  }
}
.footer_top {
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #f1f1f1;
}
.footer_top a {
  color: black;
  font-size: 1rem;
}
/* Small only */
/* Medium and up */
/* Medium only */
/* Large and up */
/* Large only */
/*===============================
=            Divider            =
===============================*/
.sec-divider img {
  width: 100%;
}